/* pour éviter des marges appliquer par les navigateurs */
* {
  margin :0;
  padding :0;
}

/* image du NAV uniquement */
nav img {
  width: 150px;
  height: 45px;
  margin: auto 0 auto 360px;
}

nav {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  justify-content: space-between;
  height: 85px;
  line-height: 85px;
  position : fixed;
  width: 100%;
  z-index: 2;

}
/* ul du Nav uniquement */
nav ul {
  display: flex;
  margin: 0 360px 0 0;
  list-style: none;
}

/* li a du Nav uniquement */
nav li a {
  text-align: center;
  display: flex;
  color: white;
  height: 85px;
  line-height: 85px;
  width: 150px;
  text-decoration: none;
}


nav li a:hover {
  background-color: red;
}



.h1 {
  color:white;
  padding-top: 390px;
  padding-bottom: 272px;
}


/* toute la classe sestion1 */
.background-section1 {
  background-image: url("images/header.png");
  width: 1920px;
  height: 900px;
  color:white;
  text-align: center; 
}


.h1 > .btn {
  background-color: crimson;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */


h2 {
  padding-top: 70px;
  text-align: center;
  color: black;
}

.title {
  display: block;
  margin : auto auto auto auto;
}

h2 .logo {
  display:block;
  padding-bottom: 70px;
}

.FORMATION {
  display: flex;
  text-align: center;
  justify-content: center;
}


.article1 {
  text-align: right;
  padding-right: 24px;
  padding-bottom: 115px;
}


.article2 {
  text-align: left;
  padding-left : 24px ;
  padding-bottom: 115px;
}


.background-section2 {
  background-color: white;
  width: 1920px;
  height: 480px;
}

/* changement de section *//* changement de section */

h3 {
  color:white;
  text-align: center;  
  padding-top: 72px;
}

.line {
  display: block;
  margin : auto auto auto auto;
}

.ENSEIGNEMENT{
  display: flex;
  justify-content: center;
  padding-top: 72px;
  text-align : center;
  align-content: space-around;
}

.ENSEIGNEMENT > div {
  width: 1200px;
  text-align: center;
  padding-bottom: 70px
}

.background-section3 {
  background-image: url("images/projet-collaboratif-bg.png");
  width: 1920px;
  height: 455px;
  color:white;
}

/* changement de section *//* changement de section */

.background-section4 {
  background-color: rgba(0, 0, 0, 0.75);
  width: 1920px;
  height: 567px;
  color  : white;

}

.À-CHACUN-SONMÉTIER {
  display: flex;
  padding-top: 40px;
}

.video {
  display: block;
  margin: auto 360px 114px auto;
}

.bouton {
  background-color: transparent ;
  border: 1px solid;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}