pour éviter des marges appliquer par les navigateurs
* {
  margin :0;
  padding :0;
}

/* image du NAV uniquement */
nav img {
  width: 150px;
  height: 45px;
  margin: auto 0 auto 360px;
}

nav {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  justify-content: space-between;
  height: 85px;
  line-height: 85px;
  position : fixed;
  width: 1920px;
  z-index: 2;

}
/* ul du Nav uniquement */
nav ul {
  text-align: center;
  display: flex;
  margin: 0 360px 0 0;
  list-style: none;
}

/* li a du Nav uniquement */
nav li a {
  text-align: center;
  display: flex;
  color: white;
  height: 85px;
  line-height: 85px;
  width: 150px;
  text-decoration: none;
}


nav li a:hover {
  background-color: red;
}

.h1 {
  color:white;
  padding-top: 390px;
  padding-bottom: 272px;
}


/* toute la classe sestion1 */
.background-section1 {
  background-image: url("images/header.png");
  width: 1920px;
  height: 900px;
  color:white;
  text-align: center; 
}


.h1 > .btn {
  background-color: crimson;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

.section2 {
  width: 1920px;
  height: 481px;
  background-color:white;
}

h2 {
  text-align: center;
  padding-top: 70px;
  color: black;
}

.title {
  display: block;
  margin : auto auto auto auto;
}

.background-section2 {
  display :flex;
  background-color: white;
  justify-content: center;
}

/* 
.article1 {
  text-align: left;
  padding-left: 0px;
}

.article2 {
  text-align: center;
  padding-top: 70px;

} 

.article3 {
  text-align: left;
  padding-left : 24px ;
}  */

/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

h3 {
  color:white;
  text-align: center;  
  padding-top: 72px;
}

.line {
  display: block;
  margin : auto auto auto auto;
}

.ENSEIGNEMENT{
  display: flex;
  justify-content: center;
  padding-top: 72px;
  text-align : center;
  align-content: space-around;
  margin: auto 360px auto 360px;

}

.ENSEIGNEMENT > div {
  width: 1200px;
  text-align: center;
  padding-bottom: 70px
}

.background-section3 {
  background-image: url("images/projet-collaboratif-bg.png");
  width: 1920px;
  height: 445px;
  color:white;
}

/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

.background-section4 {
  background-color: rgba(0, 0, 0, 0.75);
  width: 1920px;
  height: 567px;
  color  : white;
}

.À-CHACUN-SON-MÉTIER {
  display: flex;
  padding-left: 360px;
  padding-right: 360px;
  justify-content: space-between;
}


.À-CHACUN-SON-MÉTIER > .btn {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  background-color: Transparent;
  width: 200px;
  height: 50px;
}



/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

.background-section5 {
  background-color: white;
  width: 1920px;
  height: 451px;
  color  : black;
}

.À-CHACUN-SON-PROJET {
  display :flex;
  padding-top: 77px;
  padding-left: 360px;
  padding-right: 360px;
  justify-content: space-between;
}

/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

.background-section6 {
  padding-top: 62px;
  background-image: url(images/projet-bg1.png);
  width: 1920px;
  height: 296px;
  color:white;
  text-align: center;
}

/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

.background-section7 {
  background-color:white;
  width: 1920px;
  height: 832px;
  color: black;
  text-align: center;
  position: relative;
  justify-content: center;

}

.NOS-CENTRES-DE-FORMATION {
  display: flex;
  flex-wrap: wrap;
  padding-left: 360px;
  padding-right: 360px;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 70px;
}



/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */


.background-section8 {
  padding-left: 360px;
  background-image: url(images/temoignages-bg.png);
  width: 1920px;
  height: 604px;
  color: white;
  padding-top: 71px;
}

.TÉMOIGNAGES  > .btn {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  background-color: Transparent;
  width: 225px;
  height: 50px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 26px;
  padding-right: 27px;
}

.container0 {
  display: ;
}



/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */
/* changement de section *//* changement de section */

.background-section9 {
  background-color:red;
  width: 1920px;
  height: 786px;
  color: white;
  padding-top: 71px;
}