* {
  margin :0;
  padding :0;
}

nav img {
  width: 150px;
  height: 45px;
  margin: auto 0 auto 360px;
}

nav {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  justify-content: space-between;
  height: 85px;
  line-height: 85px;
  position : fixed;
  width: 100%;
  z-index: 2;

}

nav ul {
  display: flex;
  margin: 0 360px 0 0;
  list-style: none;
}

nav li a {
  display: flex;
  color: white;
  text-align: center;
  height: 85px;
  line-height: 85px;
  text-decoration: none;
}

nav li {
  width: 150px;
  height: 85px;
  text-align: center
}

nav li a:hover {
  background-color: red;
}

.background-section1 {
  background-image: url("images/header.png");
  width: 1920px;
  height: 900px;
}
h2 {
  text-align: center;
  color: black;
}

.FORMATION {
  display: flex;
  color: black;
  text-align: center;
  
}


/* .topnav {
    display: fixed;
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
    background: gray;
  }


.topnav a:hover {
    background-color:red;
    color: white;
  }
  
.topnav a.active {
    background-color: red;
    color: white;
  }

h1 {
  padding: 60px;
  text-align: center;
  color: white;
  background-color: gray;
}

.ENSEIGNEMENT {
  background: yellow;
  display: flex;
} */

